<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <input type="text" id="searchInput" placeholder="Search artists...">
    <div id="searchResults"></div>
  </div>
  <script>
    $(document).ready(function () {
      // Function to update search results
      function updateSearchResults() {
        var searchText = $("#searchInput").val().toLowerCase();
        var resultsHtml = "";
        {{ range .Group }}
        var artistName = "{{ .Name }}".toLowerCase();
        if (artistName.includes(searchText)) {
          resultsHtml += '<div class="artist"><a href="http://localhost:8080/artist/{{ .Id }}"><img src="{{ .Image }}" width="150px"><a href="http://localhost:8080/artist/{{ .Id }}">{{ .Name }}</a></a></div>';
        }
        {{ end }}
        $("#searchResults").html(resultsHtml);
      }

      // Trigger the input event on page load
      $("#searchInput").val(""); // Clear the input to ensure the event is fired
      updateSearchResults(); // Call the function to populate results

      // Bind the input event to the search input
      $("#searchInput").on("input", updateSearchResults);
    });
  </script>
</body>
