<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/static/index.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form method="GET">
    <div class="container">
      <input type="text" id="searchInput" name="searchInput" placeholder="Search artists..." value="{{ .SearchInput }}">
      <div>
        <button>search</button>
      </div>
      <div id="searchResults">
        {{ range .Group }}
        <div class="artist"><a href="/artist/{{ .Id }}"><img src="{{ .Image }}" width="150px"><br>{{ .Name }}</a></div>
        {{ end }}
      </div>
    </div>
  </form>
</body>